name: Test and coverage

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check_go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -coverprofile=coverage.out -coverpkg=./...

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

  check_ts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Run TypeScript
        run: npm run typecheck

      - name: Biome check
        run: npm run check

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false

      - name: Install Go dependencies
        run: go mod download

      - name: Build lsp-server
        run: npm run lsp-server:wasm

      - name: Run Tests
        run: npm run coverage

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

  build_escalier_wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false

      - name: Install dependencies
        run: go mod download

      - name: Build escalier.wasm
        run: make escalier-wasm

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: escalier.wasm
          path: ./bin/escalier.wasm

  build_cli:
    runs-on: ubuntu-latest
    needs: build_escalier_wasm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download escalier.wasm artifact
        uses: actions/download-artifact@v4
        with:
          name: escalier.wasm
          path: ./bin

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      
      - name: Install root dependencies
        run: npm install

      - name: Install CLI dependencies
        working-directory: ./packages/cli
        run: npm install

      - name: Build
        working-directory: ./packages/cli
        run: npm run build
 
  build_runtime:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      
      - name: Install root dependencies
        run: npm install

      - name: Install runtime dependencies
        working-directory: ./packages/runtime
        run: npm install

      - name: Build
        working-directory: ./packages/runtime
        run: npm run build
 
      - name: Run Tests
        working-directory: ./packages/runtime
        run: npm run test
